.mainview{
    width: 100%;
    height: 100%;
}

.mainview-sidebar{
    float: left;
    width: 20%;
    height: 100%;
    text-align: center;
}

.mainview-sidebar-header{
    color: #6E7B82;
    font-size: 200%;
    margin-top: 20px;
    text-align: center;
}

.components-group{
    float: left;
    height: 90%;
    width: 100%;
}

.component-box{
    color: white;
    font-size: 150%;
    background-color: blue;
    float: left;
    margin: 4%;
    border-radius: 5px;
    width: 90%;
    height: 100px;
}

.component-box-inner{
    width: 100%;
    height: 100%;
}



.mainview-workspace{
    float: left;
    width: 60%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px 5px#888;
    overflow: hidden;
    box-sizing: border-box;
}

.mainview-properties{
    float: left;
    width: 20%;
    height: 100%;
}

.mainview-properties-header{
    color: #6E7B82;
    font-size: 200%;
    margin-top: 40px;
    text-align: center;
}



.property-group{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    margin-top: 20px;
}

.property-float{
    float: left;
}


.title {
    font-size: 50%;
    padding: 10px;
    cursor: move;
}

.connect {
    width: 100%;
    height: 20px;
    background-color: white;
    cursor: pointer;
}