<div class="modal-header">
    <h3>I'm a modal!</h3>
</div>
<div class="modal-body data-request-modal-body">
    <div class="data-request-modal-body-inner">
        <p class="mainview-sidebar-header">Load a HPML File</p>
        <hr/>
        <div class="input-wrapper">
            <input type="text" ng-model="searchText" class="input-medium search-query input-middle">
        </div>
        <hr/>
        <div class="datarequest-group-inner">

            <ul class="nav nav-pills nav-stacked">
                <li ng-repeat="defObj in defObjects | filter:findFile" ng-click="selectItem(defObj)" ng-class="{'active':isActive(defObj)}">
                    <a href="#/definition"><span>{{ defObj.name }}</span> <span>Guid: {{ defObj.Guid }}</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning cancel" ng-click="close()">Close</button>
</div>