<div class="modal-header">
    <h3>Template Settings</h3>
</div>
<div class="modal-body data-request-modal-body">
    <div class="data-request-modal-body-inner">
        <p class="mainview-sidebar-header">Load a Template</p>
        <hr/>
        <div class="input-wrapper">
            <input type="text" ng-model="searchText" class="input-medium search-query input-middle">
        </div>
        <hr/>
        <div class="datarequest-group-inner">

            <ul class="nav nav-pills nav-stacked">
                <li ng-repeat="template in templates | filter:findTemplate" ng-click="selectItem(template)" ng-class="{'active':isActive(template)}">
                    <a href="#/template"><span>{{ template.name }}</span> <span>Guid: {{ template.Guid }}</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning cancel" ng-click="close()">Cancel</button>
</div>
