<div id="mainsection" class="mainview">
    <div class="mainview-sidebar">
        <p class="mainview-sidebar-header">Components</p>
        <div class="components-group" >
           <div id="MeasureComputation" class="component-box" draggable="true" ondragstart="drag(event)">
               <div  class="middlediv component-box-inner">
                   <div>MC</div>
               </div>
           </div>
        </div>
    </div>
    <div class="mainview-workspace" ondrop="drop(event)" ondragover="allowDrop(event)" >


    </div>
    <div class="mainview-properties">
        <p class="mainview-properties-header">Properties</p>
        <div class="property-group">
            <div ng-repeat="element in selectedForm" >
                <div ng-switch on="element.widget">
                    <div ng-switch-when="read" class="controls controls-row">
                        <span class="add-on span2 property-float">{{element.label}}</span>
                        <input class="span3 property-float uneditable-input" type="text" ng-model="selectedItem[element.model]" ng-required="element.required"/>
                    </div>

                    <div ng-switch-when="text" class="controls controls-row">
                        <span class="add-on span2 property-float">{{element.label}}</span>
                        <input class="span3 property-float" type="text" ng-model="selectedItem[element.model]" ng-required="element.required"/>
                    </div>

                    <div ng-switch-when="select" class="controls controls-row">
                        <span class="add-on span2 property-float">{{element.label}}</span>
                        <select class="span3 property-float" ng-model="selectedItem[element.model]" ng-required="element.required" ng-options="o.key as o.name for o in element.options"></select>
                    </div>

                    <div ng-switch-when="functionSelect" class="controls controls-row">
                        <span class="add-on span2 property-float">{{element.label}}</span>
                        <select class="span3 property-float" ng-model="selectedItem[element.model]" ng-required="element.required" ng-options="o.key as o.name for o in functionservice.getFunctionPluginOperators(selectedItem[element.observable])"></select>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>