<div class="mainview">
    <div class="mainview-sidebar">
        <p class="mainview-sidebar-header">Components</p>
        <div class="components-group" >
           <div class="component-box" draggable="true">
               <div class="middlediv component-box-inner">
                   <div>MC</div>
               </div>
           </div>
        </div>
    </div>
    <div class="mainview-workspace" dropzone="">

    </div>
    <div class="mainview-properties">
        <p class="mainview-properties-header">Properties</p>
    </div>
</div>