<div id="mainsection" class="mainview">
    <div class="mainview-sidebar not-selectable">
        <p class="mainview-sidebar-header">Components</p>
        <div class="components-group" >
            <component ng-repeat="comp in components" class="">

            </component>
            <div class="datarequest-group">
                <p class="mainview-sidebar-header">Templates</p>
                <hr/>
                <input type="text" ng-model="searchText" class="input-medium search-query">
                <hr/>
                <div class="datarequest-group-inner">
                    <measuretemplatecomponent ng-repeat="mt in measureservice.measureTemplates | filter:findTemplate">
                    </measuretemplatecomponent>
                </div>
            </div>
        </div>
    </div>
    <div class="mainview-workspace not-selectable" ng-click="callSelectItem(defObject)">

        <parameter ng-repeat="param in defObject.parameters" object="param" select="callSelectItem(item)" class="jsplumb-box"></parameter>
        <constant ng-repeat="const in defObject.constants" object="const" select="callSelectItem(item)" class="jsplumb-box"></constant>
        <action ng-repeat="action in defObject.actions" object="action" select="callSelectItem(item)" class="jsplumb-box"></action>
        <measuretrigger ng-repeat="trigger in defObject.triggers" object="trigger" select="callSelectItem(item)" class="jsplumb-box"></measuretrigger>
        <measuredefinition ng-repeat="definition in defObject.definitions" object="definition" select="callSelectItem(item)" class="jsplumb-box"></measuredefinition>

    </div>
    <div class="mainview-properties">
        <propertylist></propertylist>
    </div>
</div>