<!--<div id="MeasureComputation" class="component-box" draggable="true" ondragstart="drag(event)">
    <div  class="middlediv component-box-inner">
        <div>MC</div>
    </div>
</div>
<div id="CONSTANT" class="component-box" draggable="true" ondragstart="drag(event)">
    <div  class="middlediv component-box-inner">
        <div>C</div>
    </div>
</div>
<div id="PARAMETER" class="component-box" draggable="true" ondragstart="drag(event)">
    <div  class="middlediv component-box-inner">
        <div>P</div>
    </div>
</div>
<div id="ENVIRONMENTVARIABLE" class="component-box" draggable="true" ondragstart="drag(event)">
    <div  class="middlediv component-box-inner">
        <div>EV</div>
    </div>
</div>-->


<div class="component-box-outer">
    <div id="{{ comp.id }}" class="component-box" ng-class="comp.myClass">
        <div  class="middlediv component-box-inner">
            <div>{{ comp.name }}</div>
        </div>
    </div>
</div>




